@keyframes to-right {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes to-left {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes scroll-to-top-line {
  0% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(2.5);
  }
  100% {
    transform: scaleY(1);
  }
}
