$basic-font: 'Noto Sans TC', sans-serif;

$colors: (
  text: (
    dark: #3b3739,
    light: #fef9ec,
    base: #6b6e4f,
  ),
  backgroundColor: (
    recipe: #d6b59c,
    beige: #fefbf1,
    panel: #b5c5a8,
    title: #cb8043,
  ),
  search: (
    border: #898989,
    placeholder: #828282,
  ),
  button: (
    main: #d97c48,
  ),
  orangeColor: (
    base: #f4a259,
    light: #fac89b,
  ),
  heart: (
    bright: #ff6528,
  ),
);
